.button {
    background-color: lightblue;
    border: none;
    border-radius: 25px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.iframe-container {
    text-align: center;
    width: 100%;
}

.readme-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    color: black;
    background-color: aliceblue;
    border-color: black;
}

body{
    background-color: antiquewhite;
}